.container {
	width: 100%;
	min-height: 100vh;
	position: relative;
}

.headerContainer {
	padding: 1.5rem;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 1;
}

.navLinks {
	width: 30%;
}

.navLinks ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.navLinks ul li {
	list-style: none;
	font-size: 0.95rem;
	color: #000;
}

.hamburger {
	width: 3rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	display: none;
}

.hamburger .hamLine1 {
	background-color: #000000;
	width: 2.2rem;
	height: 0.3rem;
	position: absolute;
	top: 2px;
}

.hamburger .hamLine2 {
	background-color: #000000;
	width: 2.2rem;
	height: 0.3rem;
	position: absolute;
	top: 13px;
}

.hamburger .hamLine3 {
	background-color: #000000;
	width: 2.2rem;
	height: 0.3rem;
	position: absolute;
	top: 24px;
}

.bannerContainer {
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	position: relative;
}

.banner {
	color: #000;
	transform: translate(-50%, -50%);
	width: 60%;
	position: absolute;
	top: 50%;
	left: 38%;
}

.bannerTitle {
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

.bannerContent {
	line-height: 1.8;
	width: 90%;
	font-size: 1.2rem;
}

.philosopyContainer {
	width: 85%;
	min-height: 100vh;
	margin: 0 auto;
}

.philosophy {
	padding-top: 5rem;
}

.philosophyTitle {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}

.philosophyRow {
	margin-top: 4rem;
	display: flex;
	text-align: center;
}

.philosophy_card {
	padding: 0 4rem;
}

.philosophy_card:first-child {
	border-right: 2px solid #777777;
}

.philosophyHeading {
	font-size: 1.5rem;
	font-weight: 300;
	margin-top: 3rem;
	min-height: 4rem;
}

.philosophyHeading h4 {
	margin-bottom: 1rem;
}

.philosophyContent {
	line-height: 1.5;
	text-align: center;
	margin-top: 1rem;
}

.footerContainer {
	min-height: 45vh;
}

.footerContainer li {
	list-style: none;
}

.footer {
	width: 85%;
	margin: 0 auto;
}

.footerLinks {
	padding: 3rem 0;
	min-height: 35vh;
	display: flex;
	justify-content: space-between;
	font-size: 0.9rem;
}

.footerLinks div {
	padding: 1rem;
}

.nav1 li {
	padding: 5px 0;
}

.nav2 li {
	padding: 5px 0;
}

.socialMedia {
	width: 20%;
}

.socialMedia ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.socialMedia img {
	width: 20px;
	height: 20px;
}

.copyright {
	font-size: 0.9rem;
	padding: 1rem;
	text-align: center;
}

@media screen and (max-width: 992px) {
	.headerContainer {
		width: 100%;
		left: 0;
	}

	.navLinks {
		width: 40%;
	}

	.banner {
		width: 95%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.bannerContainer {
		background-image: linear-gradient(
			rgba(255, 255, 255, 0.7),
			rgba(255, 255, 255, 0.7)
		);
	}

	.bannerContent {
		width: 100%;
	}

	.footer {
		width: 100%;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	.navLinks {
		width: 35%;
	}
}

@media screen and (max-width: 800px) {
	.navLinks {
		display: none;
	}

	.hamburger {
		display: block;
	}

	.bannerContent {
		line-height: 1.5;
		font-size: 1.2rem;
	}

	.philosopyContainer {
		width: 100%;
	}

	.footerLinks {
		flex-wrap: wrap;
	}

	.socialMedia {
		width: 24%;
	}
}

@media screen and (max-width: 736px) {
	.philosophyRow {
		flex-direction: column;
	}

	.philosophy_card:nth-child(2) {
		padding: 2rem 4rem 8rem;
	}

	.philosophy_card:first-child {
		border-right: 0;
	}

	.footerLinks {
		padding: 2rem 0;
		display: block;
		text-align: center;
	}

	.footerLinks div {
		padding: 0.2rem;
	}

	.socialMedia {
		width: 25%;
		margin: 0.5rem auto;
	}

	.nav1 ul,
	.nav2 ul {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.nav1 ul li,
	.nav2 ul li {
		margin: 0 1rem;
	}
}
